{% load staticfiles %}
{% load blog_tags %}
<!DOCTYPE html>
<html>
<head>
    <title>Haiconmeo</title>

    <!-- meta -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- css -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="{% static 'blog/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/pace.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/custom.css' %}">
    <link rel="stylesheet" href="{% static 'blog/css/highlights/github.css' %}">
    <link rel="stylesheet" href="{% static 'W3.css' %}">
    <style>
body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
</style>
<body class="w3-light-grey">

<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->
<div class="w3-content" style="max-width:1400px">

<!-- Header -->
<header class="w3-container w3-center w3-padding-32"> 
  <h1><b>Hai Con Mèo</b></h1>
  <p>Welcome to the blog </p>
</header>

<!-- Grid -->
<div class="w3-row">




  <main class="w3-col l8 s12">
                {% block main %}
                {% endblock main %}
  </main>
<!-- END BLOG ENTRIES -->


<!-- Introduction menu -->
<div class="w3-col l4">
  <!-- About Card -->
  <div class="w3-card w3-margin w3-margin-top">
  <img src="/w3images/avatar_g.jpg" style="width:100%">
    <div class="w3-container w3-white">
      <h4><b>My Name</b></h4>
      <p>Just me, myself and I, exploring the universe of uknownment. I have a heart of love and a interest of lorem ipsum and mauris neque quam blog. I want to share my world with you.</p>
    </div>
  </div><hr>
  
  <!-- Posts -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Popular Posts</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      
      {% get_recent_posts as recent_post_list %}
                    <ul>
                        {% for post in recent_post_list %}
                            <li class="w3-padding-16">
        <img src="/w3images/workshop.jpg" alt="Image" class="w3-left w3-margin-right" style="width:50px">
        <span class="w3-large"><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></span><br>
        <span>Sed mattis nunc</span>
      </li>
                        {% empty %}
                            Chưa có bài viết nào
                        {% endfor %}
    </ul>
  </div>
  <hr> 
 <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Categori</h4>
    </div>
    <ul class="w3-ul w3-hoverable w3-white">
      
      {% get_categories as category_list %}
                    <ul>
                        {% for category in category_list %}
                            
                            <li class="w3-padding-16">
        
        <a href="{% url 'blog:category' category.pk %}">{{ category.name }} <span
                                        class="post-count">({{ category.num_posts }})</span></a>
      </li>
                        {% empty %}
                            Chưa có bài viết nào
                        {% endfor %}
    </ul>
  </div>
  <hr> 
  <!-- Labels / tags -->
  <div class="w3-card w3-margin">
    <div class="w3-container w3-padding">
      <h4>Tags</h4>
    </div>
    <div class="w3-container w3-white">
    {% get_tags as tag_list %}
                    <p>
                        {% for tag in tag_list %}
                            
                                
                          <span class="w3-tag w3-light-grey w3-small w3-margin-bottom"> <a href="{% url 'blog:tag' tag.pk %}">{{ tag.name }}</a></span> 
                            
                        {% empty %}
                            không có tag nào
                        {% endfor %}
    </p>
   
    </div>
  </div>
  
<!-- END Introduction Menu -->
</div>

<!-- END GRID -->
</div><br>

<!-- END w3-content -->
</div>

<!-- Footer -->
<footer class="page-footer font-small blue">

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>